li {
    list-style: none;
    padding-top: 3rem;

    color: rgb(133, 133, 133);
    font-weight: bold;
    font-size: 22px;
    margin-left: 25%;
}

li:hover {
    color:rgb(59, 59, 59);
    transition: ease-in-out 0.3ms;
}

ul {
    width: 297px;
    margin: 0 auto;
   
    padding: 0px;
    border: 1px solid black;
    padding-bottom: 3rem;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

  }



.checked {
    text-decoration: line-through;
}

button {
    width: 150px;
    background-color: white;
    color: blue;
    font-weight: bold;
    font-size: 25px;
}

button:hover {
    transform: scale(1.1);
    
}

.buttons {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

label {
    display: flex;
}

label div {
    padding-left: 20px;
}

.input-checkbox {
    transform:scale(4.0);
    
}
